<div class="container">
  <i class="pi pi-angle-left" routerLink="../../"></i>
</div>
<div class="chat-container">
  <div class="chat">
    <div class="chat-list">
      <div class="message-content" *ngFor="let message of messages$ | async">
        <app-message-item
          [item]="message"
          (removed)="showMessages()"
        ></app-message-item>
      </div>
    </div>
    <div class="chat-actions">
      <app-chat-actions
        [user]="user"
        [lessonId]="lessonId"
        (sended)="showMessages()"
      >
      </app-chat-actions>
    </div>
  </div>
</div>
