<div class="confirm-profile">
  <h2 class="confirm-profile__message">{{ text }}</h2>

  <div [formGroup]="form" class="confirm-profile__form">
    <label class="confirm-profile__label">Телефон</label>
    <p-inputMask
      *ngIf="isBrowser"
      placeholder="+38(099)-99-99-999"
      class="plc-input-mask"
      formControlName="phone"
      mask="+38(099)-99-99-999"
    >
    </p-inputMask>
    <app-error-validation
      [control]="form.controls.phone"
      [field]="'Телефон'"
    ></app-error-validation>

    <label class="confirm-profile__label">Код</label>
    <input placeholder="Введіть код" formControlName="code" class="plc-input" />
    <app-error-validation
      [control]="form.controls.code"
      [field]="'Код'"
    ></app-error-validation>

    <div class="confirm-profile__buttons">
      <button routerLink="/homework/lessons" (click)="close()">Назад</button>
      <app-spin-button matType="mat-flat-button" (click)="onGeneratingCode()">
        <span *ngIf="!isCodePresent"> Отримати код</span>
        <span *ngIf="isCodePresent"> Перевірити код</span>
      </app-spin-button>
    </div>
  </div>
</div>
