<h2>Lessons list</h2>

<div *ngFor="let lesson of lessons">
    {{lesson.name}}
</div>
<h2>+ Add New Lesson</h2>
<form [formGroup]="form" (ngSubmit)="createLesson()" class="create-lesson">
    <mat-form-field appearance="outline">
        <mat-label>Назва</mat-label>
        <input matInput placeholder="Введіть назву урока" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Опис</mat-label>
        <textarea matInput placeholder="Введіть опис" formControlName="context"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Файли</mat-label>
        <input matInput placeholder="Додайте файл" formControlName="file">
    </mat-form-field>

    <button mat-button type="submit" primary>Add New Lesson</button>
</form>