<div *ngFor="let validation of list">
  <div
    class="error"
    *ngIf="
      control.hasError(validation.type) &&
      control.invalid &&
      (control.dirty || control.touched)
    "
  >
    <ng-container [ngSwitch]="validation.type">
      <ng-container *ngSwitchCase="'required'"
        >Поле "{{ field }}" повинно бути заповненим.</ng-container
      >
      <ng-container *ngSwitchCase="'email'"
      >Електронна пошта має не коректний формат.</ng-container
    >
      <ng-container *ngSwitchCase="'password'"
        >"{{ field }}" должен включать латинские заглавные буквы и цифры
      </ng-container>
      <ng-container *ngSwitchCase="'mismatch'"
        >"{{ field }}" должно быть одинаково с "{{ secondField }}".
      </ng-container>
      <ng-container *ngSwitchCase="'minlength'">
        Поле "{{ field }}" повинно мати не менше
        {{
          control.errors.minlength.requiredLength
            | i18nPlural: { "=1": "1 символ", other: "# символів" }
        }}.
      </ng-container>
      <ng-container *ngSwitchCase="'maxlength'">
        Поле "{{ field }}" дповинно мати не більше
        {{
          control.errors.maxlength.requiredLength
            | i18nPlural: { "=1": "1 символ", other: "# символів" }
        }}.
      </ng-container>
      <ng-container *ngSwitchCase="'min'"
        > Поле "{{ field }}" повинно бути не менше ніж {{ control.errors.min.min }}
      </ng-container>
      <ng-container *ngSwitchCase="'max'"
        >Поле "{{ field }}" повинно бути не більше ніж {{ control.errors.max.max }}
      </ng-container>
      <ng-container *ngSwitchCase="'phone'"
        > Поле "{{ field }}" має не корректний формат.</ng-container
      >
      <ng-container *ngSwitchCase="'confirmPasswordError'">
        Поле "{{ field }}" не співпадає с полем "{{ secondField }}".
      </ng-container>
      <ng-container *ngSwitchCase="'backendErr'">{{
        control.errors.backendErr
      }}</ng-container>
    </ng-container>
  </div>
</div>
