<div class="container">
  <div class="payment-form">
    <h3>Оплата курсу</h3>
    <form [formGroup]="form" (ngSubmit)="pay()">
      <input
        pInputText
        placeholder="Введіть ім'я"
        formControlName="firstName"
      />
      <app-error-validation
        [control]="form.controls.firstName"
        [field]="'Ім\'я'"
      ></app-error-validation>

      <input
        pInputText
        placeholder="Введіть прізвище"
        formControlName="lastName"
      />
      <app-error-validation
        [control]="form.controls.lastName"
        [field]="'Прізвище'"
      ></app-error-validation>

      <input
        pInputText
        placeholder="Введіть електронну пошту"
        formControlName="email"
      />
      <app-error-validation
        [control]="form.controls.email"
        [field]="'Пошта'"
      ></app-error-validation>

      <input
        pInputText
        placeholder="Введіть номер телефона"
        formControlName="phone"
      />
      <app-error-validation
        [control]="form.controls.phone"
        [field]="'Телефон'"
      ></app-error-validation>

      <p-dropdown
        [options]="courseList$ | async"
        optionLabel="name"
        (onChange)="onChange($event)"
        [placeholder]="'Вибрати курс'"
      ></p-dropdown>
      <app-error-validation
        [control]="form.controls.courseId"
        [field]="'Вибрати курс'"
      ></app-error-validation>
      <div class="payment-btn">
        <app-spin-button matType="mat-flat-button" [loading]="loading">
          <span> Оплатити {{ price }} грн</span>
        </app-spin-button>
      </div>
    </form>
  </div>
</div>