.payment-form {
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  max-width: 500px;
  min-height: 300px;
  padding: 10px;
  box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.15);
  min-width: 320px;
  h3 {
    text-align: center;
  }
}
.payment-btn {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
