@import "../../../../styles/helpers/index.scss";

.create-lesson {
  min-width: 500px;
}
.lesson__form {
  margin-top: 30px;
  padding: 0 10px;
}

.lesson__form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
  @include mobile-up {
    grid-template-columns: 100%;
  }
}
