<div class="container">
  <p-table [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Користувач</th>
        <th>Телефонт</th>
        <th>Пошта</th>
        <th>Чат</th>
        <th>Створено</th>
        <th>Оновлено</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <button
            class="btn--circle-blue"
            routerLink="/admin/users/{{ user?.id }}"
          >
            <i
              *ngIf="user?.haveMessages"
              class="pi pi-user p-mr-4 p-text-secondary"
              pBadge
              styleClass="p-mr-2"
              value="1+"
              severity="danger"
            ></i>
            <i class="pi pi-user" *ngIf="!user?.haveMessages"></i>

          </button>
        </td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.chat_id }}</td>
        <td>{{ user.createdAt | date }}</td>
        <td>{{ user.updatedAt | date }}</td>
        <td>
          <button (click)="openDialog(user)" class="btn--circle-red">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
