<div class="main-title">
  <strong>Practical Legal Courses</strong>
</div>
<h3>
  <strong
    >Курс процесуальних документів для студентів юридичного факультету та
    юристів</strong
  >
</h3>
<section>
  <app-about-us></app-about-us>
</section>
<section>
  <app-course-details></app-course-details>
</section>
<section>
  <app-course-price></app-course-price>
</section>
<section>
  <app-course-program></app-course-program>
</section>
<section>
  <app-course-start></app-course-start>
</section>
<section>
  <app-question></app-question>
</section>
