<p-toast position="top-right"></p-toast>

<div class="container">
  <div class="bot-form">
    <h3>{{ "pageTitles.connectToPLC" | translate }}</h3>
    <div>
      <p-inputMask
        *ngIf="isBrowser"
        placeholder="+38(099)-99-99-999"
        class="plc-input-mask"
        [formControl]="phone"
        mask="+38(099)-99-99-999"
      >
      </p-inputMask>
      <app-error-validation
        [control]="phone"
        [field]="'labels.phone' | translate"
      ></app-error-validation>
    </div>

    <button class="telegram-btn" (click)="openTelegram()">
      <img src="../../assets/img/telegram.png" alt="telegram" />
    </button>
  </div>
</div>
