<div class="container">
  <div class="bot-form">
    <h3>{{ "pageTitles.connectToPLC" | translate }}</h3>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{ "labels.phone" | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'placeholders.phone' | translate"
          [formControl]="phone"
          placeholder="+38 099 99 99 999"
        />
      </mat-form-field>
      <app-error-validation
        [control]="phone"
        [field]="'labels.phone' | translate"
      ></app-error-validation>
    </div>

    <button class="telegram-btn" (click)="openTelegram()">
      <img src="../../assets/img/telegram.png" alt="telegram" />
    </button>

    <!-- <button mat-stroked-button color="primary" type="submit">Telegram</button> -->
  </div>
</div>
