<div class="container">
  <mat-expansion-panel
    hideToggle
    class="list"
    (expandedChange)="isOpened = $event"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Курс процесуальних документів </mat-panel-title>
      <mat-panel-description>
        для студентів юридичного факультету та юристів
      </mat-panel-description>
      <mat-panel-description>
        <mat-icon *ngIf="!isOpened">navigate_next</mat-icon>
        <mat-icon *ngIf="isOpened">keyboard_arrow_down</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngFor="let lesson of lessons$ | async">
      <div>
        <span routerLink="{{ lesson.id }}">{{ lesson.name }}</span>
        <mat-icon routerLink="{{ lesson.id }}">navigate_next</mat-icon>
      </div>
    </div>
  </mat-expansion-panel>
</div>
