@import "../../../../styles/helpers/index.scss";

.user-profile {
  &__container {
    margin-top: 30px;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    @include mobile-up {
      grid-template-columns: 100%;
    }
  }
  &__filter {
    grid-template-columns: repeat(2, 1fr);
    @include mobile-up {
      grid-template-columns: 100%;
    }
  }
  &__label {
    @include genText(14px, 16px, normal, $c-gray);
  }
  &__value {
    @include genText(16px, 18px, bold, $c-black);
  }
}
