.msg {
    &-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #3d96f394;
        border-radius: 5px;

        &-bot {
            border: 1px solid black;
            background-color: #0f509694;
        }
    }
    &-content {
        display: block;
        width: 100%;
        a {
            margin-top: 5px;
        }
    }
    &-text {
        padding: 10px;
        max-width: 80%;
        min-width: 355px;
        word-break: break-word;
    }
    &-date {
        padding: 5px;
        min-width: 90px;
    }
}
