.form {
  min-width: 350px;
  .row {
    width: 100%;
    &__col-2 {
      min-width: 300px;
      padding: 0 10px;
      width: 40%;
    }
  }
}

.form-control {
  display: grid;
  grid-template-columns: 100%;

  &__label {
    @include genText(16px, 18px, normal, $c-gray);
    margin-bottom: 5px;
  }
}
