<p-toast position="top-right"></p-toast>
<div class="container">
  <p-table [value]="lessons$ | async" class="plc-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Назва</th>
        <th>Створено</th>
        <th>Оновлено</th>
        <th>Статус</th>
        <th>Безкоштовно</th>
        <th>
          <app-spin-button
            matType="mat-flat-button"
            color="primary"
            routerLink="/admin/lessons/create"
          >
            <span>Створити заняття</span>
          </app-spin-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td routerLink="/admin/lessons/{{ product.id }}">{{ product.name }}</td>
        <td>{{ product.createdAt | date }}</td>
        <td>{{ product.updatedAt | date }}</td>
        <td>{{ product.status | extract: lessonStatuses }}</td>
        <td>
          <p-inputSwitch
            class="plc-switcher"
            [ngModel]="product.free"
            (ngModelChange)="updatePrice($event, product)"
          ></p-inputSwitch>
        </td>
        <td>
          <button (click)="openDialog(product)" class="btn__circle">
            <i class="icon icon--delete"></i>
          </button>
          <button
            routerLink="/admin/lessons/{{ product.id }}"
            class="btn__circle"
          >
            <i class="icon icon--edit"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
