<app-header></app-header>
<p-toast position="top-right"></p-toast>
<div class="dashboard">
  <router-outlet></router-outlet>
  <p-confirmDialog
    *ngIf="isBrowser"
    key="dangerous"
    styleClass="plc-confirm-dialog plc-confirm-dialog--dangerous"
  ></p-confirmDialog>
  <p-confirmDialog
    *ngIf="isBrowser"
    key="warning"
    styleClass="plc-confirm-dialog plc-confirm-dialog--warning"
  ></p-confirmDialog>
</div>
<app-preloader *ngIf="load"> </app-preloader>

<!-- <app-footer></app-footer> -->
