$header: 70px;
$footer: 70px;

.dashboard {
  // margin-top: 70px;
  // padding: 10px;
  max-width: 100%;
  min-width: 320px;
  padding: 0 10px;
  min-height: calc(100vh - #{$header} - #{$footer});
}
