<mat-form-field appearance="outline">
  <mat-label>Фільтр по курсу</mat-label>
  <mat-select
    [ngModel]="selectedCourse"
    (ngModelChange)="filter($event)"
    [placeholder]="'Вибрати курс'"
  >
    <mat-option selected [value]="null">Вибрати курс</mat-option>
    <mat-option *ngFor="let course of coursesList$ | async" [value]="course.id">
      {{ course?.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-progress-bar mode="determinate" [value]="userProgress"></mat-progress-bar>

<table
  mat-table
  [dataSource]="studyProgressList$ | async"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="lesson">
    <th mat-header-cell *matHeaderCellDef>Заняття</th>
    <td mat-cell *matCellDef="let element">{{ element?.lessonId?.name }}</td>
  </ng-container>

  <ng-container matColumnDef="isAnswered">
    <th mat-header-cell *matHeaderCellDef>Переписка</th>
    <td mat-cell *matCellDef="let lesson">
      <mat-icon
        *ngIf="!lesson?.isAnswered"
        matBadge="?"
        routerLink="lesson/{{ lesson?.lessonId?._id }}"
        matBadgeColor="warn"
        >mail_outline
      </mat-icon>
      <mat-icon
        *ngIf="lesson.isAnswered"
        routerLink="lesson/{{ lesson?.lessonId?._id }}"
        >mail_outline
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef>Прогрес</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
        <mat-label>Прогрес курсу</mat-label>
        <mat-select
          [(ngModel)]="element.progress"
          (ngModelChange)="updateProgress(element, $event)"
        >
          <mat-option
            *ngFor="let progress of progress"
            [value]="progress?.value"
          >
            {{ progress.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Статус</th>
    <td mat-cell *matCellDef="let element">
      <section class="example-section" class="row__col-2">
        <mat-slide-toggle
          [(ngModel)]="element.status"
          (ngModelChange)="updateStatus(element, $event)"
          color="primary"
          class="example-margin"
          >Доступно
        </mat-slide-toggle>
      </section>
    </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Створено</th>
    <td mat-cell *matCellDef="let element">{{ element?.createdAt | date }}</td>
  </ng-container>

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef>Назва курсу</th>
    <td mat-cell *matCellDef="let lesson">{{ lesson?.courseId?.name }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
