<p-toast position="top-right"></p-toast>

<div class="chat__container">
  <div class="chat__content">
    <div
      class="chat__list"
      [ngClass]="{ 'chat__list--empty': !messages?.length }"
    >
      <div class="message-content" *ngFor="let message of messages">
        <app-message-item
          [item]="message"
          (removed)="onRemove()"
        ></app-message-item>
      </div>
      <div *ngIf="!messages?.length" class="messages__content-empty">
       {{'emptyChatMessage'|translate}}
      </div>
    </div>
    <div class="chat-actions">
      <app-chat-actions
        [user]="user$|async"
        [lessonId]="lessonId"
        (sended)="fetchSendingMessage()"
      >
      </app-chat-actions>
    </div>
  </div>
  <div class="chat__search">
    <form [formGroup]="form" class="chat__search-form">
      <p-dropdown
        class="plc-dropdown"
        [options]="usersList$ | async"
        [placeholder]="'Вибрати користувача'"
        (onChange)="onChange($event)"
        formControlName="userId"
      ></p-dropdown>
      <p-dropdown
        class="plc-dropdown"
        [options]="coursesList$ | async"
        [placeholder]="'Вибрати курс'"
        (onChange)="setCourse($event)"
      ></p-dropdown>
      <p-dropdown
        class="plc-dropdown"
        [options]="lessonsList$ | async"
        [disabled]="!isCourseSelected"
        formControlName="lessonId"
        [placeholder]="'Вибрати заняття'"
      ></p-dropdown>

      <app-spin-button
        [loading]="loading"
        [disabled]="form.invalid"
        matType="mat-flat-button"
        (click)="search()"
      >
        <span> Search</span>
      </app-spin-button>
    </form>
  </div>
</div>
