@import "../../../../styles/helpers/index.scss";

img {
  outline: none;
  cursor: pointer;
  width: 45px;
  height: auto;
}

.header {
  min-height: 70px;
  width: 100%;
  min-width: 340px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 2px 30px #2524249c;

  @include mobile-up {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  &__language-toggler {
    @include mobile-up {
      margin: 0 10px;
    }
  }
  &__admin-panel {
    width: 100%;
  }
}

.nav-block {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  padding: 10px;

  @include mobile-up {
    display: none;
  }
  span {
    cursor: pointer;
    padding: 10px;
    outline: none;
    font-size: 16px;
    &::after {
      content: "";
      bottom: -3px;
      left: 0;
      width: 0px;
      height: 2px;
      background-color: #3b3bad;
      display: block;
      transition: all 0.5s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
.nav-block__admin-panel {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;

  span {
    cursor: pointer;
    padding: 10px;
    outline: none;
    font-size: 16px;
    &::after {
      content: "";
      bottom: -3px;
      left: 0;
      width: 0px;
      height: 2px;
      background-color: #3b3bad;
      display: block;
      transition: all 0.5s;
    }
    &:hover::after {
      width: 100%;
    }
  }
  @include mobile-up {
    display: none;
  }
}

.header__menu-toggle {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid black;
}
.header__menu-mobile {
  display: none;
  margin: 0 10px;
  @include mobile-up {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
.header__menu-toggler {
  display: none;
  @include mobile-up {
    display: block;
    margin: 0 20px;
  }
}
.active {
  color: #3b3bad;
  &::after {
    content: "";
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #3b3bad;
    display: block;
    @include mobile-up {
      width: 0%;
    }
  }
}
