<div class="container">
    <div class="payment-form">
        <h3>Оплатити курс <strong> "Practical Legal Courses" </strong></h3>
        <form [formGroup]="form" (ngSubmit)="pay()">
            <mat-form-field appearance="outline">
                <mat-label>Ім'я</mat-label>
                <input matInput placeholder="Введіть ім'я" formControlName="firstName">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Прізвище</mat-label>
                <input matInput placeholder="Введіть прізвище" formControlName="lastName">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Введіть email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Телефон *</mat-label>
                <input matInput placeholder="Введіть номер телефона" formControlName="phone">
            </mat-form-field>

            <button mat-stroked-button color="primary" type="submit">Оплатити 1000 грн</button>
        </form>
    </div>
</div>