@import "../../../../styles/helpers/index.scss";

.course__form {
  margin-top: 30px;
  padding: 0 10px;
}
.course__form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  @include mobile-up {
    grid-template-columns: 100%;
    grid-gap: 0;
  }
}
.course__form-editor {
  width: 100%;
  margin-top: 20px;
}
