<form [formGroup]="form" class="course__form">
  <div class="course__form-fields">
    <div class="course__form-inputs">
      <div class="course__form-field">
        <label>Назва</label>
        <input
          placeholder="Введіть назву курса"
          formControlName="name"
          class="plc-input"
          pInputText
        />
        <app-error-validation
          [control]="form.controls.name"
          [field]="'Назва'"
        ></app-error-validation>
      </div>
      <div class="course__form-field">
        <label>Виберіть статус публікації</label>
        <p-dropdown
          class="plc-dropdown"
          [options]="courseStatuses"
          formControlName="status"
        ></p-dropdown>
        <app-error-validation
          [control]="form.controls.status"
          [field]="'Статус'"
        ></app-error-validation>
      </div>
      <div class="course__form-field">
        <label>Ціна</label>
        <p-inputNumber
          class="plc-input-number"
          placeholder="Введіть ціну курса"
          formControlName="price"
          type="number"
        >
        </p-inputNumber>
        <app-error-validation
          [control]="form.controls.price"
          [field]="'Ціна'"
        ></app-error-validation>
      </div>
    </div>
  </div>

  <div class="course__form-editor">
    <angular-editor
      [config]="editorConfig"
      formControlName="description"
    ></angular-editor>
  </div>
  <hr />
  <app-spin-button
    matType="mat-flat-button"
    [loading]="loading"
    (click)="save()"
  >
    <span>{{ btnName }}</span>
  </app-spin-button>
</form>
