@import "../../../styles/helpers/index.scss";

.page-context {
  &__container {
    margin: 10px;
  }
  &__filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mobile-up {
      grid-template-columns: 100%;
    }
    margin-bottom: 10px;
  }
  &__button {
    cursor: pointer;
    margin-top: 10px;
    background-color: $c-blue;
    padding: 10px;
  }
}
