<p-toast position="top-right"></p-toast>

<h3>Static pages</h3>

<mat-tab-group animationDuration="0ms" (focusChange)="show($event)">
    <mat-tab label="Privacy policy">
        <angular-editor id='a1' [placeholder]="'Enter text here...'"
            [(ngModel)]="htmlContent[staticPages.privacyPolicy]">
        </angular-editor>
    </mat-tab>
    <mat-tab label="Terms and Conditions">
        <angular-editor id='a2' [placeholder]="'Enter text here...'"
            [(ngModel)]="htmlContent[staticPages.termsAndConditions]">
        </angular-editor>
    </mat-tab>
</mat-tab-group>
<button mat-button type="submit" primary (click)="save()"> Зберегти</button>