<p-toast position="top-right"></p-toast>

<section class="page-context__container">
  <div class="page-context__title">
    <h1>{{ "pageTitles.staticPages" | translate }}</h1>
  </div>
  <div class="page-context__filter">
    <p-dropdown
      class="plc-dropdown"
      [options]="options"
      [(ngModel)]="activeLabel"
    ></p-dropdown>
  </div>

  <angular-editor
    [placeholder]="'Enter text here...'"
    [(ngModel)]="htmlContent[activeLabel]"
  >
  </angular-editor>

  <button type="submit" (click)="save()">{{ "saveLabel" | translate }}</button>
</section>
