<div class="form" [formGroup]="form">
  <div class="row">
    <p-dropdown
      class="plc-dropdown"
      [options]="usersOptions$ | async"
      [placeholder]="'Виберіть користувача'"
      formControlName="userId"
    ></p-dropdown>
    <p-dropdown
      class="plc-dropdown"
      [options]="courseOptions$ | async"
      [placeholder]="'Виберіть курс'"
      formControlName="courseId"
    ></p-dropdown>
  </div>
  <app-spin-button (click)="showCertificatesList(form.value)">
    <span>Шукати</span>
  </app-spin-button>
</div>

<div class="container">
  <p-table [value]="certificates$ | async" class="plc-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Користувач</th>
        <th>Курс</th>
        <th>Сертифікат</th>
        <th>Створено</th>
        <th>
          <app-spin-button (click)="addCertificate()" [disabled]="form.invalid">
            <span>Додати сертифікат</span>
          </app-spin-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-certificate>
      <tr>
        <td>{{ certificate.firstName }} {{ certificate.userId }}</td>
        <td>{{ certificate.courseId }}</td>
        <td>
          <i class="pi pi-download" (click)="open(certificate?.fileLink)"></i>
          <i class="pi pi-refresh" (click)="refreshFileLink(certificate)"></i>
        </td>
        <td>{{ certificate.createdAt | date }}</td>
        <td>
          <button (click)="openDialog(certificate)" class="btn__circle">
            <i class="icon icon--delete"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
