<div [formGroup]="form" class="login__form">
  <label class="login__label">Телефон</label>
  <p-inputMask
    *ngIf="isBrowser"
    type="tel"
    placeholder="+38(099)-99-99-999"
    class="plc-input-mask"
    formControlName="phone"
    mask="+38(099)-99-99-999"
    [autocomplete]="false"
  ></p-inputMask>
  <app-error-validation
    [control]="form.controls.phone"
    [field]="'Телефон'"
  ></app-error-validation>

  <label class="login__label">Пароль</label>
  <input
    pInputText
    class="plc-input"
    placeholder="Ввести пароль"
    formControlName="password"
    type="password"
    [autocomplete]="false"
  />

  <app-error-validation
    [control]="form.controls.password"
    [field]="'Пароль'"
  ></app-error-validation>

  <div class="login__button">
    <app-spin-button
      [loading]="loading"
      matType="mat-flat-button"
      (click)="login()"
    >
      <span class="login__button-text">Авторизуватися</span>
    </app-spin-button>
  </div>
</div>
