<div [formGroup]="form">
  <h5>Телефон</h5>
  <p-inputMask
    mask="+380999999999"
    placeholder="+38(099)-99-99-999"
    formControlName="phone"
  ></p-inputMask>
  <app-error-validation
    [control]="form.controls.phone"
    [field]="'Телефон'"
  ></app-error-validation>

  <h5>Пароль</h5>
  <input
    pInputText
    placeholder="Ввести пароль"
    formControlName="password"
    type="password"
  />

  <app-error-validation
    [control]="form.controls.password"
    [field]="'Пароль'"
  ></app-error-validation>
  <app-spin-button
    [loading]="loading"
    matType="mat-flat-button"
    (click)="login()"
  >
    <span>Авторизуватися</span>
  </app-spin-button>
</div>
