<form [formGroup]="form" (ngSubmit)="save()" class="form">
  <div class="row">
    <h5>Назва заняття</h5>
    <input pInputText placeholder="Ввести назву урока" formControlName="name" />
    <app-error-validation
      [control]="form.controls.name"
      [field]="'Назва'"
    ></app-error-validation>
    <h5>Статус заняття</h5>
    <p-dropdown
      [options]="lessonStatuses"
      placeholder="Вибрати статус заняття"
      formControlName="status"
    ></p-dropdown>
    <app-error-validation
      [control]="form.controls.status"
      [field]="'Статус'"
    ></app-error-validation>
  </div>

  <div class="row">
    <h5>Привязати курс</h5>
    <p-dropdown
      [options]="coursesList$ | async"
      formControlName="courseId"
      placeholder="Привязати курс"
    ></p-dropdown>
    <app-error-validation
      [control]="form.controls.courseId"
      [field]="'Курс'"
    ></app-error-validation>
    <h5>Додати посилання на файл</h5>
    <input
      pInputText
      placeholder="Додати посилання на файл"
      formControlName="file"
    />
    <app-error-validation
      [control]="form.controls.file"
      [field]="'Файл'"
    ></app-error-validation>
    <h5>Додати посилання на відео</h5>
    <input
      pInputText
      placeholder="Додати посилання на відео"
      formControlName="video"
    />

    <app-error-validation
      [control]="form.controls.video"
      [field]="'Відео'"
    ></app-error-validation>
    <h5>Додати посилання на презентацію</h5>
    <input
      pInputText
      placeholder="Додайти посилання  на презентацію"
      formControlName="presentation"
    />
    <app-error-validation
      [control]="form.controls.presentation"
      [field]="'Презентація'"
    ></app-error-validation>
  </div>

  <div class="row">
    <section class="example-section" class="row__col-2">
      <h5>Безкоштовний</h5>
      <p-inputSwitch formControlName="free"></p-inputSwitch>
    </section>
  </div>
  <div class="row">
    <label for="editor"> Опис </label>
    <angular-editor
      id="editor"
      formControlName="context"
      [config]="editorConfig"
    >
    </angular-editor>
    <app-error-validation
      [control]="form.controls.context"
      [field]="'Опис'"
    ></app-error-validation>
  </div>

  <mat-divider></mat-divider>
  <app-spin-button [loading]="loading" matType="mat-flat-button">
    <span>{{ btnName }}</span>
  </app-spin-button>
</form>
