<div class="container users__list">
  <p-table [value]="users" class="plc-table">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th class="users-header">Користувач</th>
        <th class="users-header">Телефон</th>
        <th class="users-header">Пошта</th>
        <th class="users-header">Чат</th>
        <th class="users-header">Створено</th>
        <th class="users-header">Оновлено</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <button class="btn__circle" routerLink="/admin/users/{{ user?.id }}">
            <i
              *ngIf="user?.haveMessages"
              class="icon icon--user p-mr-4 p-text-secondary"
              pBadge
              styleClass="p-mr-2"
              value="1+"
              severity="danger"
            ></i>
            <i class="icon icon--user" *ngIf="!user?.haveMessages"></i>
          </button>
        </td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.chat_id }}</td>
        <td>{{ user.createdAt | date }}</td>
        <td>{{ user.updatedAt | date }}</td>
        <td>
          <button (click)="openDialog(user)" class="btn__circle">
            <i class="icon icon--delete"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
