<div class="container">
  <div class="bot-form">
    <h3>Приєднатися до "Practical Legal Courses"</h3>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Телефон</mat-label>
        <input
          matInput
          placeholder="Введіть телефон"
          [formControl]="phone"
          placeholder="+380999999999"
        />
      </mat-form-field>
      <app-error-validation
        [control]="phone"
        [field]="'Телефон'"
      ></app-error-validation>
    </div>

    <button class="telegram-btn" (click)="openTelegram()">
      <img src="../../assets/img/telegram.png" alt="telegram" />
    </button>

    <!-- <button mat-stroked-button color="primary" type="submit">Telegram</button> -->
  </div>
</div>
