/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./styles/elements/tables.scss";
@import "./styles/elements/inputs.scss";
@import "./styles/elements/buttons.scss";
@import "./styles/elements/alerts.scss";
@import "./styles/elements/icons.scss";
@import "./styles/elements/spinners.scss";
@import "./styles/elements/forms.scss";
@import "./styles/elements/chats.scss";
@import "./styles/elements/text.scss";

body {
  margin: 0px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}
.angular-editor-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
