/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer {
    background-color: grey;
    height: 70px;
}
.header {
    // background-color: grey;
    height: 70px;
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding-right: 10px !important;
}

.custom-video {
    height: 350px;
    width: 600px;
    margin: auto;
}
.center {
    text-align: center;
}
.mat-spinner circle {
    stroke: white;
}
.mat-button-wrapper {
    display: flex;
}
.toast {
    background-color: white;
    color: black;
}
