<div class="admin-page">

    <nav class="nav-block">
        <span routerLink="users" routerLinkActive="active">Користувачі</span>
        <span routerLink="messages" routerLinkActive="active">Чати</span>
        <span routerLink="courses" routerLinkActive="active">Курси</span>
        <span routerLink="lessons" routerLinkActive="active">Заняття</span>
        <span routerLink="pages" routerLinkActive="active">Статичні сторінки</span>
    </nav>
    <div class="admin-content">
        <router-outlet></router-outlet>
    </div>
</div>