<div class="line">
  <div class="course-agenda">
    <div>
      <h1 class="title">Програма курсу:</h1>
      <ul class="list">
        <li>Найпростіші клопотання</li>
        <li>Позовна заява (1 частина)</li>
        <li>Позовна заява (2 частина)</li>
        <li>Заяви по суті справи</li>
        <li>Забезпечення позову</li>
        <li>Доказування</li>
        <li>Судовий розгляд</li>
        <li>Наказне провадження</li>
        <li>Окреме провадження</li>
        <li>Апеляційна скарга</li>
        <li>Заява про перегляд заочного рішення</li>
        <li>Касаційна скарга</li>
        <li>Виконання рішення</li>
        <li>Документи по КУпАП</li>
      </ul>
    </div>
  </div>
  <div class="result">
    <h1 class="title">Що ти отримаєш після проходження курсу?</h1>
    <br />
    <span>
      Після успішного проходження курсу та здачі фінального іспиту, ти отримаєш
      сертифікат, який тобі надійде електронною поштою.
    </span>
    <div class="certificate">
      <img
        src="../../../assets/img/certificate.png"
        alt="certificate"
        srcset=""
      />
    </div>
  </div>
</div>
