<hr>
<strong>Програма курсу:</strong>
<ol>
    <li>Найпростіші клопотання</li>  
    <li>Позовна заява (1 частина)</li>  
    <li>Позовна заява (2 частина)</li>  
    <li>Заяви по суті справи</li>  
    <li>Забезпечення позову</li>  
    <li>Доказування</li>  
    <li>Судовий розгляд</li>  
    <li>Наказне провадження</li>  
    <li>Окреме провадження</li>  
    <li>Апеляційна скарга</li>  
    <li>Заява про перегляд заочного рішення</li>  
    <li>Касаційна скарга</li>  
    <li>Виконання рішення</li>  
    <li>Документи по КУпАП</li>  
</ol>
<button routerLink="/start" mat-stroked-button color="primary">Записатися на курс</button> 
