<header class="header">
  <img src="../../../../assets/logo.png" alt="logo" routerLink="/" />
  <nav class="nav-block">
    <span routerLink="/homework/lessons" routerLinkActive="active">{{
      "pageTitles.lessonsList" | translate
    }}</span>
    <span routerLink="/payment" routerLinkActive="active">{{
      "pageTitles.coursePayment" | translate
    }}</span>
    <span routerLink="/start" routerLinkActive="active">{{
      "pageTitles.enrollCourse" | translate
    }}</span>
    <span routerLink="/admin" routerLinkActive="active"
      >{{"pageTitles.adminPanel"|translate}}</span
    >
  </nav>
  <p-dropdown
    [options]="languages"
    (onChange)="onChangeLang($event)"
  ></p-dropdown>
</header>

