img {
  height: 100%;
  outline: none;
  cursor: pointer;
}

.header {
  height: 70px;
  width: 100%;
  min-width: 340px;
  display: flex;
  box-shadow: 0px 2px 30px #2524249c;
}

.nav-block {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  padding: 10px;
}
span {
  cursor: pointer;
  padding: 10px;
  outline: none;
  margin: 0 5px;
  font-family: "Roboto";
  font-size: 16px;
}

.active {
  color: #3b3bad;
  &::after {
    content: "";
    bottom: -3px;
    left: 0;
    height: 2px;
    background-color: #3b3bad;
    display: block;
    transition: all 0.5s;
  }
}
