<header class="header">
  <img src="../../../../assets/logo.png" alt="logo" routerLink="/" />
  <nav class="navigation">
    <div class="nav" routerLink="/admin">Admin Panel</div>
    <div routerLink="/lessons" rel="noopener noreferrer">Список завдань</div>
    <div routerLink="/homework/id" rel="noopener noreferrer">Урок</div>
    <!-- <a href="http://localhost:4200/re" rel="noopener noreferrer">Отзывы</a>
        <a href="http://localhost:4200/re" rel="noopener noreferrer">Оффлайн</a>
        <a href="http://localhost:4200/re" rel="noopener noreferrer">Термины</a>
        <a href="http://localhost:4200/re" rel="noopener noreferrer">Контакты</a> -->
  </nav>
  <!--    <button>Заява</button> -->
</header>
