<div class="header">
    <img src="../../../../assets/logo.png" alt="logo">

    <!-- <nav class="navigation">
        <a href="http://localhost:4200/dsf" rel="noopener noreferrer">Курсы</a>
        <a href="http://localhost:4200/re" rel="noopener noreferrer">Отзывы</a>
        <a href="http://localhost:4200/re" rel="noopener noreferrer">Оффлайн</a>
        <a href="http://localhost:4200/re" rel="noopener noreferrer">Термины</a>
        <a href="http://localhost:4200/re" rel="noopener noreferrer">Контакты</a>
    </nav> -->
    <!--    <button>Заява</button> -->
</div>