<p-toast position="top-right"></p-toast>

<div class="container">
  <div class="payment__form">
    <h2 class="payment__title">{{ "pageTitles.coursePayment" | translate }}</h2>
    <div [formGroup]="form">
      <div class="payment__field">
        <input
          pInputText
          class="plc-input"
          placeholder="Введіть ім'я"
          formControlName="firstName"
        />
        <app-error-validation
          [control]="form.controls.firstName"
          [field]="'Ім\'я'"
        ></app-error-validation>
      </div>
      <div class="payment__field">
        <input
          pInputText
          class="plc-input"
          placeholder="Введіть прізвище"
          formControlName="lastName"
        />
        <app-error-validation
          [control]="form.controls.lastName"
          [field]="'Прізвище'"
        ></app-error-validation>
      </div>
      <div class="payment__field">
        <input
          pInputText
          class="plc-input"
          placeholder="Введіть електронну пошту"
          formControlName="email"
        />
        <app-error-validation
          [control]="form.controls.email"
          [field]="'Пошта'"
        ></app-error-validation>
      </div>

      <div class="payment__field">
        <p-inputMask
          *ngIf="isBrowser"
          placeholder="+38(099)-99-99-999"
          class="plc-input-mask"
          formControlName="phone"
          mask="+38(099)-99-99-999"
        >
        </p-inputMask>
        <app-error-validation
          [control]="form.controls.phone"
          [field]="'Телефон'"
        ></app-error-validation>
      </div>

      <div class="payment__field">
        <p-dropdown
          [options]="courseList$ | async"
          class="plc-dropdown"
          optionLabel="name"
          (onChange)="onChange($event)"
          [placeholder]="'Вибрати курс'"
          formControlName="courseId"
        ></p-dropdown>
      </div>

      <app-error-validation
        [control]="form.controls.courseId"
        [field]="'Вибрати курс'"
      ></app-error-validation>
      <div class="payment__submit">
        <app-spin-button
          matType="mat-flat-button"
          [loading]="loading"
          (click)="pay()"
        >
          <span> {{ "paymentButtonLabel" | translate: { value: price } }}</span>
        </app-spin-button>
      </div>
    </div>
  </div>
</div>
