<div class="container">
  <div class="payment__form">
    <h2 class="payment__title">{{ "pageTitles.coursePayment" | translate }}</h2>
    <form [formGroup]="form" (ngSubmit)="pay()">
      <input
        pInputText
        class="payment__field"
        placeholder="Введіть ім'я"
        formControlName="firstName"
      />
      <app-error-validation
        [control]="form.controls.firstName"
        [field]="'Ім\'я'"
      ></app-error-validation>

      <input
        pInputText
        class="payment__field"
        placeholder="Введіть прізвище"
        formControlName="lastName"
      />
      <app-error-validation
        [control]="form.controls.lastName"
        [field]="'Прізвище'"
      ></app-error-validation>

      <input
        pInputText
        class="payment__field"
        placeholder="Введіть електронну пошту"
        formControlName="email"
      />
      <app-error-validation
        [control]="form.controls.email"
        [field]="'Пошта'"
      ></app-error-validation>

      <input
        pInputText
        class="payment__field"
        placeholder="Введіть номер телефона"
        formControlName="phone"
      />
      <app-error-validation
        [control]="form.controls.phone"
        [field]="'Телефон'"
      ></app-error-validation>

      <div class="payment__select-field">
        <p-dropdown
          [options]="courseList$ | async"
          styleClass="plc-dropdown"
          optionLabel="name"
          (onChange)="onChange($event)"
          [placeholder]="'Вибрати курс'"
        ></p-dropdown>
      </div>

      <app-error-validation
        [control]="form.controls.courseId"
        [field]="'Вибрати курс'"
      ></app-error-validation>
      <div class="payment__submit">
        <app-spin-button matType="mat-flat-button" [loading]="loading">
          <span> {{ "paymentButtonLabel" | translate: { value: price } }}</span>
        </app-spin-button>
      </div>
    </form>
  </div>
</div>
