<p-dropdown
  class="plc-dropdown"
  [options]="coursesList$ | async"
  optionValue="id"
  optionLabel="name"
  placeholder="Вибрати курс"
  (onChange)="filter($event)"
></p-dropdown>

<p-table
  [columns]="cols"
  [value]="studyProgressList$ | async"
  class="plc-table"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'lessonId'">
            {{ rowData[col.field].name }}
          </ng-container>
          <ng-container *ngSwitchCase="'isAnswered'">
            <div class="user-progress__cell-centered">
              <a
                class="user-progress__new-message"
                [ngClass]="{
                  'user-progress__new-message--full': !rowData?.isAnswered
                }"
                [routerLink]="'/admin/messages'"
                [queryParams]="{ lessonId: rowData.lessonId._id, userId: userId }"
              >
                <span *ngIf="!rowData?.isAnswered">1+</span>
              </a>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'progress'">
            <p-dropdown
              class="plc-dropdown"
              [options]="progress"
              [(ngModel)]="rowData.progress"
              [placeholder]="'Прогрес курсу'"
              (onChange)="updateProgress(rowData, $event)"
            ></p-dropdown>
          </ng-container>
          <ng-container *ngSwitchCase="'status'">
            <section class="user-progress__cell-centered">
              <p-inputSwitch
                class="plc-switcher"
                [(ngModel)]="rowData.status"
                (onChange)="updateStatus(rowData, $event)"
              ></p-inputSwitch>
            </section>
          </ng-container>
          <ng-container *ngSwitchCase="'createdAt'">
            {{ rowData[col.field] | date }}
          </ng-container>
          <ng-container *ngSwitchCase="'courseId'">
            {{ rowData[col.field].name }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ rowData[col.field] }}
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
