<p-dropdown
  class="plc-dropdown"
  [options]="coursesList$ | async"
  optionValue="id"
  optionLabel="name"
  placeholder="Вибрати курс"
  (onChange)="filter($event)"
></p-dropdown>

<p-progressBar [value]="userProgress"></p-progressBar>

<table
  mat-table
  [dataSource]="studyProgressList$ | async"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="lesson">
    <th mat-header-cell *matHeaderCellDef>Заняття</th>
    <td mat-cell *matCellDef="let element">{{ element?.lessonId?.name }}</td>
  </ng-container>

  <ng-container matColumnDef="isAnswered">
    <th mat-header-cell *matHeaderCellDef>Переписка</th>
    <td mat-cell *matCellDef="let lesson">
      <i
        class="pi pi-envelope p-mr-4 p-text-secondary"
        style="font-size: 2rem"
        pBadge
        severity="danger"
        value="1+"
        *ngIf="!lesson?.isAnswered"
        routerLink="lesson/{{ lesson?.lessonId?._id }}"
      ></i>
      <i
        class="pi pi-inbox"
        style="font-size: 2rem"
        *ngIf="lesson.isAnswered"
        routerLink="lesson/{{ lesson?.lessonId?._id }}"
      ></i>
    </td>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef>Прогрес</th>
    <td mat-cell *matCellDef="let element">
      <p-dropdown
        class="plc-dropdown"
        [options]="progress"
        [(ngModel)]="element.progress"
        [placeholder]="'Прогрес курсу'"
        (onChange)="updateProgress(element, $event)"
      ></p-dropdown>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Доступність</th>
    <td mat-cell *matCellDef="let element">
      <section class="example-section" class="row__col-2">
        <p-inputSwitch
          class="plc-switcher"
          [(ngModel)]="element.status"
          (onChange)="updateStatus(element, $event)"
        ></p-inputSwitch>
      </section>
    </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Створено</th>
    <td mat-cell *matCellDef="let element">{{ element?.createdAt | date }}</td>
  </ng-container>

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef>Назва курсу</th>
    <td mat-cell *matCellDef="let lesson">{{ lesson?.courseId?.name }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
